DATA_ROOT=./data
PORT=8091
ANALYTICS_MAX_SOURCE_BYTES=3221225472
DUCKDB_MAX_CONCURRENT_OPERATIONS=4
DUCKDB_TOTAL_THREADS=16
DUCKDB_TOTAL_MEMORY_BYTES=25769803776
DUCKDB_TOTAL_TEMP_BYTES=68719476736
DUCKDB_OPERATION_QUEUE_TIMEOUT_SECONDS=60
